/*
 * twe4ked studios enrichment stylesheet, http://www.twe4ked.com/
 * 
 * "Progressive enhancement is a strategy for web design that emphasizes accessibility, 
 * semantic markup, and external stylesheet and scripting technologies. Progressive 
 * enhancement uses web technologies in a layered fashion that allows everyone to access 
 * the basic content and functionality of a web page, using any browser or Internet 
 * connection, while also providing those with better bandwidth or more advanced browser 
 * software an enhanced version of the page."
 *
 * Via: http://en.wikipedia.org/wiki/Progressive_enhancement
 *
 * (c) Copyright 2010 Odin Dutton. All Rights Reserved.
 * 
 */

.entry input, .entry textarea, .ss-grid-wrap{
  -moz-box-shadow: inset 1px 1px 3px #999;
  -webkit-box-shadow: inset 1px 1px 3px  #999;
  
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

.ss-leftlabel{
  -moz-border-radius-bottomleft:5px;
  -webkit-border-radius-bottom-left:5px;
}

thead{
  -moz-border-radius-topleft:5px;
  -webkit-border-radius-top-left:5px;
  -moz-border-radius-topright:5px;
  -webkit-border-radius-top-right:5px;
  border-collapse:separate;
  overflow: hidden;
}