/ Home
#home
  %h2 Mocra forms

  %ul
    %li=link_to "railsdev", "#"
    %li=link_to "An amazing form", "#"
    %li=link_to "Wow, look; another form!", "#"
    %li=link_to "Forms forms.", "#"

/ Success page
%h2 Success!
Thanks for filling out our form.